body {
  font-family: 'Sacramento', cursive;
  width: 500px;
  margin-right: auto;
  margin-left: auto;
  background: linear-gradient(90deg, #f113c1, #ffffff, #f113c1);
  color: #f113c1;
}
button {
  width: 100px;
  height: 35px;
  padding: 3px 3px;
  /* background-color: #ceb5f7; */
  background: radial-gradient(circle,#0e0,#eee,#0e0,#eee,#0e0,#eee,#0e0,#eee,#0e0,#eee, #0e0,#eee,#0e0,#eee,#0e0,#eee,#0e0,#eee,#0e0,#eee);
  color: #f113c1;
  border-radius: 8%;
  border-style: none;
  font-size: 15px;
  font-family: "YuGothic","Yu Gothic","Meiryo","ヒラギノ角ゴ","sans-serif";
}
input {
  height: 30px;
}
input[type="text"]:focus,
textarea:focus{
  border-color: #2ff13f;
  outline: 0;
}

input[type="text"]::placeholder{
  transition: 300ms;
}

input[type="text"]:focus::placeholder{
  transform: translateX(30px);
  opacity: 0;
}
h3 {
  font-family: "Ravi Prakash", cursive;
  color:  #46ee4f;
  font-size: 25px;
}
h2 {
  font-family: "Kokoro", cursive;
  color: #3ed35e;
}
